<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.green.spring.dao.BoardDAO">
	<select id="getBoardList" resultType="kr.green.spring.vo.BoardVO">
		select * from board 
			where valid = 'I' 
			<if test="cri.type==0">
				and (contents like concat('%',#{cri.search},'%')
				or title like concat('%',#{cri.search},'%')
				or writer like concat('%',#{cri.search},'%'))
			</if>
			<if test="cri.type==1">
				and (contents like concat('%',#{cri.search},'%')
				or title like concat('%',#{cri.search},'%'))
			</if>
			<if test="cri.type==2">
				and writer like concat('%',#{cri.search},'%')
			</if>
			order by num desc
			limit #{cri.pageStart}, #{cri.perPageNum}
	</select>
	<select id="getBoard" resultType="kr.green.spring.vo.BoardVO">
		select * from board where num = #{num} and valid = 'I'
	</select>
	<insert id="insertBoard">
		insert into board(title,writer,contents)
		values(#{board.title}, #{board.writer}, #{board.contents})
	</insert>
	<update id="updateBoard">
		update board set
			title = #{board.title},
			contents = #{board.contents},
			views = #{board.views},
			valid = #{board.valid}
		where num = #{board.num}
	</update>
	<select id="getTotalCount" resultType="int">
		select count(*) from board where valid = 'I'
		<if test="cri.type==0">
			and (contents like concat('%',#{cri.search},'%')
			or title like concat('%',#{cri.search},'%')
			or writer like concat('%',#{cri.search},'%'))
		</if>
		<if test="cri.type==1">
			and (contents like concat('%',#{cri.search},'%')
			or title like concat('%',#{cri.search},'%'))
		</if>
		<if test="cri.type==2">
			and writer like concat('%',#{cri.search},'%')
		</if>
	</select>
</mapper>





