<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.green.spring.dao.ReplyDAO">
	<insert id="insertReply">
		insert into reply(rp_bd_num, rp_me_id, rp_content)
			values(#{reply.rp_bd_num},#{reply.rp_me_id},#{reply.rp_content} )
	</insert>
	<select id="getReplyList" resultType="kr.green.spring.vo.ReplyVO">
		select * from reply 
			where rp_valid = 'I' and rp_bd_num = #{num}
			order by rp_num desc
			limit #{cri.pageStart},#{cri.perPageNum}
	</select>
	<select id="getTotalCount" resultType="int">
		select count(*) from reply
			where rp_valid = 'I' and rp_bd_num = #{num}
	</select>
	<select id="getReply" resultType="kr.green.spring.vo.ReplyVO">
		select * from reply where rp_valid = 'I' and rp_num = #{num}
	</select>
	<update id="updateReply">
		update reply set
			rp_content = #{reply.rp_content},
			rp_upDate = now(),
			rp_valid = #{reply.rp_valid}
			where rp_valid = 'I' and rp_num = #{reply.rp_num}
	</update>
</mapper>





